.custom-tooltip {
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    border: 1px solid #000;
    border-radius: 4px;
}

.tooltip-label {
    margin-bottom: 0.5rem;
}

.tooltip-value {
    margin-bottom: 0.5rem;
}

.chart-view {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 16px;
    width: 100%;

}

.chart-title {
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin-top: 2rem;
}

.time-picker {
    display: flex;
    margin: 1rem 2rem 1rem 16rem;
}

.time-picker-select {
    margin: 0.3rem 1rem 0 1rem;
}

.time-picker-text {
    margin: 0.3rem 0 0 0;
}